{{#eq classSimpleName "TrafficSimulation"}}
{{#partial "htmHead"}}{{> htmHeadTrafficSimulationPage}}{{/partial}}
{{#partial "htmTitle"}}{{> htmTitleTrafficSimulationPage}}{{/partial}}
{{#partial "htmMeta"}}{{> htmMetaTrafficSimulationPage}}{{/partial}}
{{#partial "htmStyle"}}{{> htmStyleTrafficSimulationPage}}{{/partial}}
{{#partial "htmScripts"}}{{> htmScriptsTrafficSimulationPage}}{{/partial}}
{{#partial "htmScript"}}{{> htmScriptTrafficSimulationPage}}{{/partial}}
{{#partial "websocket"}}{{> websocketTrafficSimulationPage}}{{/partial}}
{{#partial "htmBodySidebar"}}{{> htmBodySidebarTrafficSimulationPage}}{{/partial}}
{{#partial "htmBodyStart"}}{{> htmBodyStartTrafficSimulationPage}}{{/partial}}
{{#partial "htmBodyMiddle"}}{{> htmBodyMiddleTrafficSimulationPage}}{{/partial}}
{{#partial "htmBodyEnd"}}{{> htmBodyEndTrafficSimulationPage}}{{/partial}}
{{#partial "htmBody"}}{{> htmBodyTrafficSimulationPage}}{{/partial}}
{{#partial "htmBodySearch"}}{{> htmBodySearchTrafficSimulationPage}}{{/partial}}
{{#partial "htmBodyFilters"}}{{> htmBodyFiltersTrafficSimulationPage}}{{/partial}}
{{#partial "htmBodyRange"}}{{> htmBodyRangeTrafficSimulationPage}}{{/partial}}
{{#partial "htmBodyPivot"}}{{> htmBodyPivotTrafficSimulationPage}}{{/partial}}
{{#partial "htmBodyFieldList"}}{{> htmBodyFieldListTrafficSimulationPage}}{{/partial}}
{{#partial "htmBodyStats"}}{{> htmBodyStatsTrafficSimulationPage}}{{/partial}}
{{#partial "htmBodyMenu"}}{{> htmBodyMenuTrafficSimulationPage}}{{/partial}}
{{#partial "htmBodyGraph"}}{{> htmBodyGraphTrafficSimulationPage}}{{/partial}}
{{#partial "htmBodyGraphLocation"}}{{> htmBodyGraphLocationTrafficSimulationPage}}{{/partial}}
{{#partial "htmBodyCount0"}}{{> htmBodyCount0TrafficSimulationPage}}{{/partial}}
{{#partial "htmBodyCount1All"}}{{> htmBodyCount1AllTrafficSimulationPage}}{{/partial}}
{{#partial "htmBodyCount1"}}{{> htmBodyCount1TrafficSimulationPage}}{{/partial}}
{{#partial "htmBodyAll"}}{{> htmBodyAllTrafficSimulationPage}}{{/partial}}
{{#partial "htmForm"}}{{> htmFormTrafficSimulationPage}}{{/partial}}
{{#partial "htmForms"}}{{> htmFormsTrafficSimulationPage}}{{/partial}}
{{#partial "htmBodySuggested"}}{{> htmBodySuggestedTrafficSimulationPage}}{{/partial}}
{{#partial "htmButton_patchTrafficSimulation"}}{{> htmButtonTrafficSimulationPage_patchTrafficSimulation classApiMethodMethod="PATCH"}}{{/partial}}
{{#partial "htmForm_patchTrafficSimulation"}}{{> htmFormTrafficSimulationPage_patchTrafficSimulation classApiMethodMethod="PATCH"}}{{/partial}}
{{#partial "htmFormButton_patchTrafficSimulation"}}{{> htmFormButtonTrafficSimulationPage_patchTrafficSimulation classApiMethodMethod="PATCH"}}{{/partial}}
{{#partial "htmButton_postTrafficSimulation"}}{{> htmButtonTrafficSimulationPage_postTrafficSimulation classApiMethodMethod="POST"}}{{/partial}}
{{#partial "htmForm_postTrafficSimulation"}}{{> htmFormTrafficSimulationPage_postTrafficSimulation classApiMethodMethod="POST"}}{{/partial}}
{{#partial "htmFormButton_postTrafficSimulation"}}
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-2017-shaded-spruce "
							onclick="postTrafficSimulation($('#postTrafficSimulationForm'), function( simulationResponse, textStatus, jQxhr ) { 
								var simulationUrl = simulationResponse['pageUrlPk'];
								var simulationPk = simulationResponse['pk'];
								var reportData = { 'simulationKey': simulationPk };
								postSimulationReportVals(reportData, function( reportResponse, textStatus, jQxhr ) { 
									var reportPk = reportResponse['pk'];
									var runQuery = [{'name': 'fq', 'value': 'pk:' + reportPk }];
									var runData = { 'setReportStatus': 'Run' };
									patchrunsimulationSimulationReportVals(runQuery, runData, function( runResponse, textStatus, jQxhr ) { 
										window.location.href = simulationUrl;
									});
								});
							}); "
							>Create a traffic simulation and run a report</button>
{{/partial}}
{{#partial "htmButton_putimportTrafficSimulation"}}{{> htmButtonTrafficSimulationPage_putimportTrafficSimulation classApiMethodMethod="PUT"}}{{/partial}}
{{#partial "htmForm_putimportTrafficSimulation"}}{{> htmFormTrafficSimulationPage_putimportTrafficSimulation classApiMethodMethod="PUT"}}{{/partial}}
{{#partial "htmFormButton_putimportTrafficSimulation"}}{{> htmFormButtonTrafficSimulationPage_putimportTrafficSimulation classApiMethodMethod="PUT"}}{{/partial}}
{{#partial "htmButton_searchpageTrafficSimulation"}}{{> htmButtonTrafficSimulationPage_searchpageTrafficSimulation classApiMethodMethod="Page"}}{{/partial}}
{{#partial "htmForm_searchpageTrafficSimulation"}}{{> htmFormTrafficSimulationPage_searchpageTrafficSimulation classApiMethodMethod="Page"}}{{/partial}}
{{#partial "htmFormButton_searchpageTrafficSimulation"}}{{> htmFormButtonTrafficSimulationPage_searchpageTrafficSimulation classApiMethodMethod="Page"}}{{/partial}}
{{/eq}}
{{> TrafficSimulationGenPage}}
